<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
body {
  background: #B9B9BA;
}

.content {
  max-width: 500px;
  margin: auto;
  background: #474C55;
  padding: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>
<body>
<div class="content">
<img class="center" width="150" th:src="@{images/revfavicon.png}">
<h2 style="font-family: futura-medium, Fallback, sans-serif; text-align:center; color:#B9B9BA;">🔒 403 - FORBIDDEN</h2>
</div>
</body>
</html>