<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background: #B9B9BA;
            }
            h2 {
                font-family: futura-medium, Fallback, sans-serif;
                text-align:center;
                color:#B9B9BA;
            }
            .content {
                max-width: 500px;
                margin: auto;
                background: #474C55;
                padding: 10px;
            }
        </style>
    </head>

    <body>
        <div class="content">
            <h2>🔍 404 - NOT FOUND</h2>
        </div>
    </body>

</html>